section.noticias,
section.paginado,
section.noticia-comp{
    width: 73%;
    max-width: 1180px;
    align-self: center;
    padding: 60px 0px 60px 0px;
}

section.noticia-comp{
    padding-bottom: 100px;
}

section.noticias h1,
section.noticia-comp h1{
    font-size: 40px;
    margin-bottom: 30px;
}

div.contenido-noticias{
    padding-left: 30px;
}

/*noticia completa*/

section.noticia-comp div.contenido-noticias{
    min-width: 410px;
    border-bottom: 1px solid rgb(54, 54, 54);
}

section.noticia-comp div.contenido-noticias h1{
    font-size: 30px;
}

section.noticia-comp div.contenido-noticias img{
    width: 65%;
    min-width: 380px;
    margin-bottom: 30px;
}

section.noticia-comp div.contenido-noticias p:nth-child(3){
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 30px;
}

section.noticia-comp div.contenido-noticias p:nth-child(3)+p{
    font-size: 1.1em;
    color: grey;
    margin-bottom: 30px;
}

/*paginado*/

section.paginado{
    padding-top: 0;
}

section.paginado ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid rgb(54, 54, 54);
    padding: 10px 0 0 30px;
    margin: 0;
}

section.paginado ul li{
    list-style-type: none;
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    transition: 0.2s ease;
}

section.paginado ul li:hover{
    background-color: #6c757d;
    color: white;
    cursor: pointer;
}

section.paginado ul li.marcado{
    background-color: #6c757d;
    color: white;
}


/*formulario*/

form#formulario-testimonio{
    display: flex;
    flex-direction: column;
}

form#formulario-testimonio textarea{
    font-size: 1.15em;
    height: 100px;
    width: 80%;
    margin-bottom: 7px;
}

a.mod button{
    border-radius: 30px;
    border: 1px solid rgb(54, 54, 54);
    width: 170px;
    text-align: center;
    background-color: inherit;
    color: black;
    font-size: 1.15em;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    transition: 0.3s ease;
}

a.mod button:hover{
    background-color: #6c757d;
    border: 1px solid #6c757d;
    cursor: pointer;
    color: white;
}

span.error::before{
    content: '⚠️ ';
}

span.error{
    font-size: 0.9em;
    color: tomato;
    display: none;
}