section.testimonios{
    width: 73%;
    max-width: 1180px;
    align-self: center;
    padding: 60px 0px 60px 0px;
}

section.testimonios h1{
    font-size: 40px;
    margin-bottom: 30px;
}

div.contenido-testimonios{
    padding-left: 30px;
}

div.card-testimonio{
    border-bottom: 1px solid rgb(54, 54, 54);
    margin-bottom: 65px;
}

div.card-testimonio h2{
    margin-bottom: 20px;
    font-size: 1.5em;
}

div.card-testimonio p{
    font-size: 1.15em;
    margin-bottom: 15px;
}

div.card-testimonio p+p{
    font-size: 0.9em;
    color: grey;
}

div.last{
    margin-top: 100px;
}

/*formulario*/

form#formulario-testimonio{
    display: flex;
    flex-direction: column;
}

form#formulario-testimonio textarea{
    font-size: 1.15em;
    height: 100px;
    width: 80%;
    margin-bottom: 7px;
}

form#formulario-testimonio button{
    border-radius: 10px;
    border: 0;
    width: 30%;
    text-align: center;
    background-color: #c5c5c5;
    color: black;
    font-size: 1.1em;
    margin: 13px 0px 30px 0px;
    padding: 10px;
    transition: 0.3s ease;
}

form#formulario-testimonio button:hover{
    background-color: #6c757d;
    cursor: pointer;
    color: white;
}

span.error::before{
    content: '⚠️ ';
}

span.error{
    font-size: 0.9em;
    color: tomato;
    display: none;
}