/*Documento*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
    /* border: 1px solid lightcoral; */
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main.principal-index,
main.principal-socios,
main.principal-testimonios,
main.principal-servicios,
main.principal-noticias,
main.principal-citas,
main.principal-dojo,
main.principal-productos{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*Cabecera*/

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

header{
    position: sticky;
    top: 0; /*para dejar la cabecera arriba evitando romper el flujo de diseño con position: fixed*/
    z-index: 1;
    background-color: rgb(37, 37, 37);
    box-shadow: 0px 3px 20px rgb(37, 37, 37, 0.65);
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1{
    margin: 0px 40px 0px 45px;
    min-width: 100px;
    font-size: 2em;
    font-weight: 600;
    -webkit-user-drag: none;
    user-select: none;
}

nav{
    width: 1100px;
    margin-right: 35px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 45px;
    padding: 0;
    margin: 0;
}

nav ul li{
    list-style-type: none;
    font-size: 1.2rem;
}

li a {
    /*centro el contenido dentro de cada enlace*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.8em;
    color: white;
    cursor: pointer;
    margin-right: 50px;
}

nav ul li,
#menu-btn,
header>h1{
    transition: 0.2s ease;
}

nav ul li:hover,
#menu-btn:hover,
header>h1:hover{
    text-shadow: 0px 0px 10px rgb(206, 206, 206);
}

/*Logo de sección login*/

.login-img{
    width: 40px;
    transition: 0.2s ease;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

/*Secciones - index*/

section.banner-index{
    background-image: url("../pics/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.banner-index p{
    color: white;
    font-size: 12em;
    font-weight: 500;
    padding: 0px 80px 80px 80px;
    text-shadow: 0px 0px 15px black;
    font-family: Slackside One;
    transition: 0.2s ease;
}

section.testimonio-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 0 13% 0 13%;
    background: white;
    background: linear-gradient(90deg, 
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 8%,
        rgba(157,163,166,1) 50%,
        rgb(255, 255, 255) 92%,
        rgb(255, 255, 255) 100%
    );
    font-size: 1.3rem;
    text-align: justify;
}

section.testimonio-index h3:first-child{
    margin-bottom: 20px;
}

/*Noticias*/

section.noticias-index{
    display: flex;
    flex-direction: column;
    padding: 90px 0px 90px 0px;
}

section.noticias-index a,
section.noticias-index>h1{
    width: 60%;
}

section.noticias-index a>article,
section.noticias-index a,
section.noticias-index>h1{
    align-self: center;
}

section.noticias-index>h1{
    margin-bottom: 30px;
    font-size: 40px;
}

article.noticia{
    font-size: 1.1em;
    line-height: 1.5;
    /* text-align: justify; */
    padding-bottom: 20px;
    margin-bottom: 70px;
    border-bottom: 1px solid rgb(54, 54, 54);
    min-width: 400px;
    transition: 0.3s ease;
}

article.noticia p:last-of-type{
    margin-top: 10px;
    color: rgb(121, 121, 121);
}

div.img-noticia {
    min-width: 340px;
    height: 230px;
    margin: 20px 0;
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

article.noticia img {
    width: 100%; /* La imagen ocupará todo el ancho y alto del contenedor */
    height: 100%;
    object-fit: cover; /* Escala y recorta la imagen para que llene el contenedor sin deformarse */
    display: block; /* Evita un pequeño espacio debajo de la imagen */
}

article.noticia:hover{
    scale: 1.02;
    cursor: pointer;
}

div.contenido-noticia{
    display: flex;
    flex-direction: row;
}

div.side-text{
    padding: 20px 17% 0px 30px;
    word-wrap: break-word; /*para que los textos no salgan de su contenedor*/
    word-break: break-word;
    white-space: normal;
}

/*Footer*/

footer{
    background-color: black;
    color: white;
    margin-top: auto; /*para mantenerlo abajo con el flex:1 del main*/
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0;
}

/*Formularios y contacto*/

section.contacto>h1{
    margin-left: 25px;
}

section.contacto{
    padding: 90px 0px 70px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

form.form-index{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 400px;
    min-width: 350px;
}

iframe{
    min-width: 350px;
}

form.form-index,iframe{
    margin: 10px 20px 10px 20px;
}

input[type=text],
input[type=password]{
    border: 0;
    padding: 8px;
    border-bottom: 1px solid #100B00;
    background-color: rgb(236, 236, 236);
}

input[type=text]:focus,
input[type=password]:focus{
    outline: none;
}

textarea{
    resize: none;
    height: 200px;
    padding: 8px;
    margin: 0 !important;
}

button[type=submit].form-index{
    padding: 12px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease;
    background-color: #c5c5c5;
}

button[type=submit].form-index:hover{
    cursor: pointer;
    background-color: #6c757d;
    color: #ffffff;
}

input[type=text],
textarea,
input[type=password]{
    font-size: 16px;
}

/*Buscador*/

form#buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0px 60px 0px;
    width: 70%;
    min-width: 390px;
    height: 50px;
}

form#buscador input[type=text],
form#buscador button{
    border-radius: 30px;
    padding: 10px 10px 10px 20px;
    border: 1px solid rgb(54, 54, 54);
    background-color: inherit;
}

form#buscador input[type=text]{
    width: 70%;
    min-width: 280px;
}

form#buscador button{
    font-size: 1.1em;
    padding-left: 10px;
    transition: 0.2s ease;
    width: 20%;
    max-width: 150px;
    min-width: 125px;
    margin-left: 30px;
}

form#buscador button:hover{
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    cursor: pointer;
}

form#buscador span{
    margin: 0px 0px 0px 40px;
}

/*media query - noticias*/

@media (width <= 1180px){
    div.contenido-noticia{
        flex-direction: column;
    }

    div.img-noticia {
        align-self: flex-start;
        width: 300px;
        height: 230px;
        margin: 20px 0;
        overflow: hidden;
    }

    div.side-text{
        padding-left: 0;
    }
}

@media (width <= 1181px) {

    form#buscador{
        width: fit-content; /*------NEEDS FIX------*/
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    form#buscador button{
        margin-left: 0;
        min-width: 170px;
    }

    #menu-btn {
        display: inline-block;
    }

    nav ul {
        display: none; /* Oculta el menú */
        flex-direction: column;
        background-color: rgb(37, 37, 37);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        padding: 20px 0;
    }

    nav ul.active {
        display: flex; /* Muestra el menú al activarlo */
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }
}

@media (width <= 649px) {
    section.banner-index p{
        font-size: 9em;
    }
}