section.productos{
    width: 73%;
    max-width: 1180px;
    align-self: center;
    padding: 60px 0px 60px 0px;
}

section.productos h1{
    font-size: 40px; 
    font-weight: 700;
    margin-bottom: 30px;
    color: black;
}

div.contenido-productos{
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

/*--card producto--*/

.producto{
    width: 250px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(54, 54, 54, .4);
}

.producto img{
    min-width: 150px;
    width: 80%;
    height: auto;
}

/**/

input[type="file"] {
    display: none;
}
  
.input-file-custom{
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}
